<ion-header>
  <ion-toolbar color='danger'>
    <ion-title>Resume</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <input type="file" accept="application/pdf" (change)="onFileChange($event)" />
  </ion-item>
  <ion-button color="primary" expand="full" (click)="submitForm()">Upload</ion-button>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="full"  (click)="openLocalPdf()">Open</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="full"  (click)="downloadPdf()">Download</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-item>
    {{user.resume}}
  </ion-item>
  
</ion-content>
