<ion-content padding class="background">
 
  <div id="splash" class="row">
    <div class="col">
        <div class="text-center">
            <!-- <h5 style="text-align: center;">Unimy Internship App</h5> -->
            <div>
              <img src="../../../../assets/images/univeristylogo.png" />
            </div>
            <div class="p-5">
              <ion-button expand ="block" color='danger' (click) = "navigateToLoginPage()"> Start </ion-button>
            </div>
        </div>
    </div> 
</div>
</ion-content> 
