ion-content.background{
    --background: url(/assets/images/bg.png);
}

ion-content {
    #splash {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
}